@font-face {
      font-family: 'Mundial-Regular';
      src: url(fonts/MundialRegular.otf);
      font-weight: normal;
      font-style: normal
}


@font-face {
      font-family: 'Urbancat-Bold';
      src: url(fonts/UrbancatBold.otf);
      font-weight: normal;
      font-style: normal
}

@font-face {
      font-family: 'Urbancat-Light';
      src: url(fonts/UrbancatLight.otf);
      font-weight: normal;
      font-style: normal
}