.pricing {
      position: relative;
      margin: 180px 0;
}

.pricing img {
      position: absolute;
      height: 1200px;
      width: 100%;
      z-index: -2;
}

.pricing .header-section {
      padding-top: 170px;
}

.pricing .nav-link:focus {
      background-color: #158B9D;
      color: white;
}

.pricing .nav-tabs {
      border: none;
      background-color: #F9FAFA;
      border-radius: 30px;
}

.pricing .nav-tabs button {
      width: 160px;
      color: black;
}

.pricing-section {
      background-color: white;
      border-radius: 30px;
}

.pricing-plan {
      position: relative;
}

.pricing-plan>* {
      z-index: 2;
      position: relative;
}

.pricing-section button {
      margin-top: 120px;
      width: 100%;
}

.pricing-section h2 {
      font-size: 40px;
      color: #252E3A;
}

.pricing .bg {
      background: #252E3A;
      border-radius: 30px;
      position: absolute;
      top: -80px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
}

.most-popular,
.most-popular h2 {
      color: white;
}

.most-popular i {
      color: #8b8b8b
}

.most-popular-text {
      background-color: #158B9D;
      color: white;
      border-radius: 20px;
      position: absolute;
      top: -55px;
      right: 40px;
      padding: 10px 20px;
      font-size: 14px;
}